name: Deploy to Azure

on:
  push:
    branches:
      - main
      - dev01
      - 001-interactive-media-display
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Log in to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_LOGIN_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.ACR_LOGIN_SERVER }}/my-web-app:${{ github.sha }},${{ secrets.ACR_LOGIN_SERVER }}/my-web-app:latest
        cache-from: type=registry,ref=${{ secrets.ACR_LOGIN_SERVER }}/my-web-app:latest
        cache-to: type=inline
    
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
        images: ${{ secrets.ACR_LOGIN_SERVER }}/my-web-app:${{ github.sha }}
